{% extends 'core/base.html' %}

{% block content %}
	{% for clothes_sample in clothes %}
		<div> <!-- Keep calm, it's really needed-->
		    <div class="card clothes-card float-left" style="height: 520px; width: 220px;">
				<img class="card-img-top" src={{ clothes_sample.picture }} alt="Card image cap">
				<div class="card-block">
					<h6 class="card-title">{{ clothes_sample.name }}</h6>
					<p class="card-text">{{ clothes_sample.price}} $</p>
					<p class="card-text"><small class="text-muted">Some added info</small></p>
					<div class="btn-group" role="group" aria-label="First group" style="position: absolute; bottom: 10px">
						<a href="#" class="btn btn-outline-primary float-left">Publish</a>
						<a href="#" class="btn btn-primary float-left"><i class="fa fa-cart-arrow-down"></i> To cart</a>
					</div>
				</div>
			</div>
		</div>
	{% endfor %}
{% endblock %}